{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "jsx-a11y", "react", "react-hooks", "import"],
    "extends": ["prettier"],
    "rules": {
        "semi": ["error"],
        "curly": "error",
        "object-curly-spacing": ["error", "never"],
        "eqeqeq": ["error", "smart"],
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "no-unused-vars": ["off"],
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "args": "after-used",
                "varsIgnorePattern": "^_",
                "argsIgnorePattern": "^_",
                "destructuredArrayIgnorePattern": "^_"
            }
        ],
        "import/no-extraneous-dependencies": ["error"],
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "typeAlias",
                "format": ["PascalCase"],
                "prefix": ["T"]
            },
            {
                "selector": "enum",
                "format": ["UPPER_CASE"]
            }
        ],
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/adjacent-overload-signatures": "error",
        "import/order": [
            "warn",
            {
                "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                },
                "pathGroups": [
                    {
                        "pattern": "$*/**",
                        "group": "internal",
                        "position": "before"
                    }
                ],

                "pathGroupsExcludedImportTypes": ["builtin"],
                "newlines-between": "never"
            }
        ],
        "no-restricted-imports": [
            "error",
            {
                "name": "lodash",
                "message": "Import [module] from lodash/[module] instead"
            }
        ],
        "no-console": "warn",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
                "message": "Use isomorphic-logger instead of console object "
            }
        ],
        "newline-before-return": "error",
        "newline-after-var": "error",
        "prefer-const": "error",

        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["to"],
                "aspects": ["noHref", "invalidHref", "preferButton"]
            }
        ],
        "jsx-a11y/anchor-has-content": ["error", {"components": []}],

        "react/jsx-boolean-value": ["error", "always", {"never": []}],
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "react-hooks/exhaustive-deps": [
            "warn",
            {
                "additionalHooks": "useIsomorphicLayoutEffect"
            }
        ],
        "react/function-component-definition": [
            "warn",
            {
                "namedComponents": "function-declaration",
                "unnamedComponents": ["arrow-function", "function-expression"]
            }
        ],
        "react/display-name": "off",
        "react/jsx-pascal-case": [
            "error",
            {
                "allowAllCaps": false,
                "allowLeadingUnderscore": false,
                "allowNamespace": true
            }
        ],
        "react/self-closing-comp": "error",
        "react/jsx-curly-brace-presence": "warn",
        "react/jsx-no-useless-fragment": ["error", {"allowExpressions": true}]
    },
    "env": {
        "jest": true
    }
}
